<div style="text-align:center;margin-left:25%;margin-right:25%;">
<h1>Mossbee Printer</h1>
<h4>Please select a menu to print orders from</h4>
<form method="post">
  <select id="menus" name="menu">
    {% for menu in options %}
      <option value="{{ menu["id"] }}">{{menu["name"]}}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="location" value="menu_save"/>
  <button type="submit">Save</button>
</form>
</div>
<script>

</script>
<style>
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button[type=submit]{
  width: 100%;
  background-color: lightblue;
  padding:1em;
  font-size: 15px;
}
</style>
