<div style="text-align:center;margin-left:25%;margin-right:25%;">
<h1>Mossbee Printer</h1>
<h4>Please enter Mossbee account email and password</h4>
<form id="user_cred" method="post">
  <input type="text" name="email" placeholder="email..."/>
  <input type="password" name="password" placeholder="password..."/>
  <input type="hidden" name="location" value="sign_in"/>
  <button type="submit">Login</button>
</form>
</div>


<style>
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button[type=submit]{
  width: 100%;
  background-color: lightblue;
  padding:1em;
  font-size: 15px;
}
</style>
