<meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>

<div class="container">
<h1>Mossbee Printer</h1>
<h4>Please enter wifi network information below.<br/>Information is stored locally on this printer only.</h4>
<form id="wifi_settings" action="/wifi_setup" method="post">
  <input type="text" name="ssid" placeholder="SSID (wifi network)..."/>
  <input type="password" name="psk" placeholder="password..."/>
  <button type="submit">Save</button>
</form>
</div>
